<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pp">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0595118151825912 0.0526247402781009 0.0610676953183453"
        rpy="0 0 0" />
      <mass
        value="0.237582944427728" />
      <inertia
        ixx="0.000242903812453974"
        ixy="-6.31292010616127E-37"
        ixz="-2.03915764624954E-53"
        iyy="8.98360508617346E-05"
        iyz="-7.3875514005223E-37"
        izz="0.000242903812453974" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pp/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pp/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>